
    body {
      font-family: 'Sono', sans-serif;
    }

    @media (max-width: 1100px) {
     .pricing-container{
      flex-direction: column;
      height: 100%;
     } 
    }
    .pricing-container{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      gap: 2rem;
    }
    .pricing-plan{
      flex: 1;
      max-width: 300px;
      background-color:lightgoldenrodyellow;
      padding: 20px;
      border-radius: 25px;
      text-align: center;
    }
    .plan-title{
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .plan-price{
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .plan-button{
      color:white;
      background-color: #E99204;
      border: none;
      padding: 8px;
      border-radius: 8px;
      margin-bottom: 20px;
    }
    .plan-features{
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .plan-features li {
      margin-bottom: 20px;
    }
